<div id="datosSubasta"></div>
<div class="row">
    <div class="col-sm-12">
        <h5>Pujas Actuales</h5>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 5%;" scope="col">Nro Puja</th>
                    <th style="width: 15%;" scope="col">Usuario</th>
                    <th style="width: 10%;" scope="col">Monto</th>
                    <th style="width: 25%;" scope="col">Fecha</th>
                    <th style="width: 20%;" scope="col">Observ.</th>
                </tr>
            </thead>
            <tbody id="bodyPujas">
                <tr class="table-dark">
                    <td>Contenido</td>
                    <td>Contenido</td>
                    <td>Contenido</td>
                    <td>Contenido</td>
                    <td>Contenido</td>
                </tr>
                <tr class="table-dark">
                    <td>Contenido</td>
                    <td>Contenido</td>
                    <td>Contenido</td>
                    <td>Contenido</td>
                    <td>Contenido</td>
                </tr>
            </tbody>
        </table>
        <p class="text-right"><button id="btnPararSubasta" class="btn btn-secondary text-center">Parar Subasta</button></p>
    </div>
</div>

<script src="js/subasta.js"></script>